<div class="container text-center">
  <div class="row">
    <div class="chat-button">
      <button id="addClass">
        <span class="glyphicon glyphicon-comment"></span>
        <%= t "open_chat" %>
      </button>
    </div>
    <hr>
  </div>
</div>
<div class="popup-box chat-popup" id="qnimate">
  <div class="popup-head">
    <div class="popup-head-left pull-left">
      <%= image_tag image_url("http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg"),
        alt: "iamgurdeeposahan" %>
      <%= @chatroom.topic %>
    </div>
    <div class="popup-head-right pull-right">
      <div class="btn-group">
      </div>
      <button data-widget="remove" id="removeClass"
        class="chat-header-button pull-right" type="button">
        <i class="glyphicon glyphicon-off"></i>
      </button>
    </div>
  </div>
  <%= link_to_next_page @messages, t("Load More") %>
  <div class="popup-messages" id="scroll">
    <div class="direct-chat-messages">
      <% if @messages.any? %>
        <div class="card-body" id="messages">
          <%= render @messages%>
        </div>
      <%else%>
        <div class="card-body hidden" id="messages"></div>
      <%end%>
    </div>
  </div>
  <div class="popup-messages-footer">
    <%= render partial: "messages/message_form",
      locals: {message: @message, chatroom: @chatroom} %>
  </div>
</div>
