<div class="row" id="form-row">
  <div class="col-md-3 ml-md-auto">
    <div class="sidebar_search">
      <div class="sidebar_title"><%= t "search" %></div>
      <%= form_tag trips_path, method: :get do %>
        <div class="sidebar_search_input">
          <%= text_field_tag :keyword %>
          <%= button_tag t("search") do %>
            <span><i class="fa fa-search"></i></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row" id="form-row">
  <div class="container">
    <% @trips.each do |trip| %>
      <%= render trip %>
    <% end %>
    <%= paginate @trips, theme: "twitter-bootstrap-4" %>
  </div>
</div>
