<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <nav id="sidebar">
      <div class="sidebar-header text-center">
        <h2><%= @trip.name %></h2>
      </div>

      <ul class="list-unstyled components">
        <p class="text-center"><%= @user.name %></p>
        <li class="active">
          <%= link_to t("trip_info"), "#homeSubmenu",
            data: {toggle: "collapse"},
            aria: {expanded: "false"},
            class: "dropdown-toggle" %>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <%= link_to t("plant"), "#" %>
            </li>
            <li>
              <%= link_to t("expense"), "#" %>
            </li>
            <li>
              <%= link_to t("group_member"), "#" %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to t("add_member"),
            trip_searchs_path(trip_id: @trip.id) %>
        </li>
      </ul>
      <ul>
        <li><%= link_to t("out_group"), "#"%></li>
      </ul>
    </nav>
  </nav>

  <!-- Page Content -->
  <div id="content">
    <button type="button" id="sidebarCollapse" class="navbar-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div></div>
  </div>

</div>
