<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for :session, url: login_path do |f| %>

      <%= f.label :email, t("email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, t("password") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit t("login"), class: "btn btn-primary" %>
    <% end %>
    <p></p>
    <%= t "new_user" %><%= link_to t("signup"), signup_path %>
  </div>
</div>
