<li class="clearfix" id="comment_overall<%= comment.id %>">
  <%= image_tag("https://bootdey.com/img/Content/user_3.jpg",class: "avatar")%>
  <div class="post-comments">
    <p class="meta"><span id="comment_time<%= comment.id %>">
      <% if (comment.created_at == comment.updated_at) %>
        <%= comment.created_at %></span>
      <% else %>
        <%= t "updated_at" %> <%= comment.updated_at %></span>
      <% end %>
      <%= t "by" %> <%= comment.user.name %>
    </p>
    <% if comment.commentable_type == "Review" %>
      <i class="pull-right">
        <small><button class="btn-sm btn-success button<%= comment.id %>">
          <% if logged_in? %><%= t "Reply" %><% end %>
        </button></small>
      </i>
    <% end %>
    <p id="comment_body<%= comment.id %>">
      <%= comment.body %>
    </p>
    <% if logged_in? %>
      <% if comment.user.is_user? current_user %>
        <td><%= link_to t("edit"), edit_comment_path(comment), remote: true,
          class: "btn btn-warning" %></td>
        <td><%= link_to t("delete"), comment_path(comment), method: :delete,
          remote: true, class: "btn btn-danger",
          data: {confirm: t("are_you_sure?")} %>
        </td>
      <% end %>
    <% end %>
      <% if comment.commentable_type == "Review" %>
        <ul class="comments_comment<%= comment.id %>">
          <%= render comment.comments %>
        </ul>
        <div class="reply_form<%= comment.id %>">
        </div>
      <% end %>
    <% if logged_in? %>
      <script type="text/javascript">
        $(document).on("click",".button<%= comment.id %>",function(){
          $(".reply_form<%= comment.id %>").html("<%=j render partial: 'comments/form', locals: {:comment => comment} %>")
          $(".comment_user").val($("#user_review").val())
        });
      </script>
    <% end %>
  </div>
</li>
