<header class="header">
  <div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-row">
          <div class="user_box ml-auto">
            <% if logged_in? %>
              <ul>
                <% if current_user.is_admin? %>
                  <li class="user_box_login user_box_link">
                    <%= link_to t("dashboard"), users_path %>
                  </li>
                <% end %>
                <li class="user_box_login user_box_link">
                  <%= link_to current_user.name,
                    edit_user_path(current_user.id) %>
                </li>
                <li class="user_box_login user_box_link">
                  <%= link_to t("logout"), logout_path, method: :delete %>
                <li>
              </ul>
            <% else %>
              <div class="user_box_login user_box_link">
                <%= link_to t("login"), login_path, remote: true, data:
                  {target: "#login", toggle: "modal"} %>
              </div>
              <div class="user_box_register user_box_link">
                <%= link_to t("register"), signup_path, remote: true, data:
                  {target: "#createuser", toggle: "modal"} %>
              </div>
            <% end %>
            <div class="phone"><%= render "search/form" %><div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col main_nav_col d-flex flex-row align-items-center
          justify-content-start">
          <div class="logo_container">
            <div class="logo">
              <%= link_to image_tag("logo.png"), class: "logo_img" %>
              <div class="logo_title"><%= t "base_title" %></div>
            </div>
          </div>
          <div class="main_nav_container ml-auto">
            <ul class="main_nav_list">
              <li class="main_nav_item">
                <%= link_to t("home"), root_path %>
              </li>
              <li class="main_nav_item">
                <%= link_to t("about"), about_path %>
              </li>
              <li class="main_nav_item">
                <%= link_to t("reviews"), reviews_path %>
              </li>
              <li class="main_nav_item">
                <%= link_to t("trips"), trips_path %>
              </li>
            </ul>
          </div>

          <div class="hamburger">
            <i class="fa fa-bars trans_200"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="home">
  <div class="home_background parallax-window">
    <%#= asset_url "blog_background.jpg" %>
  </div>
  <div class="home_content">
    <div class="home_title"><%= yield :title %></div>
  </div>
</div>
